body{
    margin: 0;
    height: 9000px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #61869E;
}

h1{
    margin: 0;
    font-family: $title-font;
    font-size: 5rem;
    text-transform: uppercase;
}

h3{
    margin: 0;
    font-family: $title-font;
    font-size: 1.5rem;
}